---
const pageTitle = "Home"
import BaseLayout from './../layouts/BaseLayout.astro'
import { Image } from "astro:assets";

import fetchApi from "../lib/strapi";

const locations = await fetchApi({
  endpoint: "locations",
  wrappedByKey: "data",
  query: { populate: "*"  },
});


// const paths = locations.map((location, i) => ({
//     params: { id: location.id.toString() },
//     props: {
//       location,
//       next: i < locations.length - 1 ? locations[i + 1] : null,
//       prev: i > 0 ? locations[i - 1] : null,
//     },
//   }));

//   return paths;
---
<BaseLayout>
    <div class="title__wrapper">
        <h1 class="home__title">"TrimCraft, the creative pruning conference"</h1>
        <div class="button__wrapper">
            <a href="/tickets/" class="button__tickets">Tickets</a>
            <a href="/schedule/" class="button__schedule">Schedule</a>
        </div>
    </div>
    <section class="content__wrapper">
        <h2 class="subtitle">What to expect</h2>
        <p class="whattoexpect">Discover the beauty of shaping nature with imagination and precision at the most anticipated creative pruning event of the year. The PruneCraft Summit is a multi-day journey into the art and science of creative pruning, where enthusiasts, experts, and artists converge to celebrate the boundless possibilities of sculpting living masterpieces.</p>
    </section>
    <section class="content__wrapper--two">
        <h2 class="subtitle subtitle__two">Why to attend TrimCraft</h2>

        <div class="attend__squares">
        
        <div class="attend__item attend__item--1">
            <h3 class="small__subtitle">Explore Diverse Landscapes:</h3>
            <p class="attend__item--descr">Immerse yourself in enchanting gardens, historic estates, and urban jungles, each providing a unique canvas for your pruning creativity.</p>
        </div>
        <div class="attend__item attend__item--2">
            <h3 class="small__subtitle">Learn from the Best:</h3>
            <p class="attend__item--descr">Engage with renowned experts through master classes, hands-on workshops, and live demonstrations, gaining insights into advanced pruning techniques.<p>
        </div>
        <div class="attend__item attend__item--3">
            <h3 class="small__subtitle">Network and Collaborate:</h3>
            <p class="attend__item--descr">Connect with like-minded enthusiasts, artists, and vendors, fostering collaborations that extend beyond the summit.</p>
        </div>
        <div class="attend__item attend__item--">
            <h3 class="small__subtitle">Unleash Your Creativity:</h3>
            <p class="attend__item--descr">From bonsai aesthetics to topiary wonders, unleash your creativity in a supportive and inspiring environment.</p>
        </div>
        </div>
    </section>
    <section class="content__wrapper--three">
        <div class="featured__item">
            <p class="featured__title featured__title--one">{locations[0].attributes.Name}</p>
        <Image
          src={`${import.meta.env.STRAPI_URL}${
            locations[0].attributes.image?.data.attributes.url
          }`}
          alt="Location image"
          width="400"
          height="250"
          widths={[250, 350, 500, 750]}
          sizes="(max-width: 35em) 70vw, (max-width: 50em) 60vw, 30vw"
          />
          <a href="">View details</a>
        </div>
        <div class="featured__item">
            <p class="featured__title featured__title--two">{locations[1].attributes.Name}</p>
            <Image
            src={`${import.meta.env.STRAPI_URL}${
                locations[1].attributes.image?.data.attributes.url
            }`}
          alt="Location image"
          width="300"
          height="400"
          widths={[250, 350, 500, 750]}
          sizes="(max-width: 35em) 70vw, (max-width: 50em) 60vw, 30vw"
          />
          <a href="">View details</a>
        </div>
        <div class="featured__item">
            <p class="featured__title featured__title--three">{locations[2].attributes.Name}</p>
            <Image
            src={`${import.meta.env.STRAPI_URL}${
                locations[2].attributes.image?.data.attributes.url
            }`}
          alt="Location image"
          width="300"
          height="400"
          widths={[250, 350, 500, 750]}
          sizes="(max-width: 35em) 70vw, (max-width: 50em) 60vw, 30vw"
          />
          <a href="">View details</a>
        </div>
        <!-- <Image
          src={`${import.meta.env.STRAPI_URL}${
            location.attributes.image?.data.attributes.url
          }`}
          alt="Location image"
          width="300"
          height="400"
          widths={[250, 350, 500, 750]}
          sizes="(max-width: 35em) 70vw, (max-width: 50em) 60vw, 30vw"
        /> -->
        
    </section>
</BaseLayout>
<style>
    .home__title{
        margin-left: 3rem;
        padding: 14rem 0rem;
        font-size: 50px;
        color: white;
        letter-spacing: 2px;
        font-weight: 800;
    }        
    .title__wrapper{
        height: 100vh;
        background-image: url('./../assets/headerimg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .button__schedule{
        color: white;
        text-decoration: none;
        padding: 1rem 2rem;
        border: solid 4px darkolivegreen;
        border-radius: 5px;
        margin-left: 3rem;
        font-size: 20px;
    }
    .button__tickets{
        color: white;
        text-decoration: none;
        padding: 1rem 2rem;
        background-color: darkolivegreen;
        border: solid 5px darkolivegreen;
        border-radius: 5px;
        margin-left: 4rem;
        font-size: 20px;
    }


    .content__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 7rem 0rem;
        margin-bottom: 10rem;
    }
    .subtitle{
        font-size: 35px;
        margin-bottom: 1.5rem;
        font-weight: 600;
    }
    .whattoexpect{
        width: 35rem;
        font-size: 18px;
    }

    .subtitle__two{
        margin-bottom: 5rem;
        font-weight: 600;
        color: white;
    }
    .content__wrapper--two{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10rem;
        padding: 5rem 0rem;
        background-image: url('./../assets/bg_bush.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .attend__squares{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0rem 20rem;
        gap: 3rem;
    }
    .
    .attend__item--1{
        grid-row: 1;
        grid-column: 1;
    }
    .attend__item--2{
        grid-row: 1;
        grid-column: 2;
    }
    .attend__item--3{
        grid-row: 2;
        grid-column: 1;
    }
    .attend__item--4{
        grid-row: 2;
        grid-column: 2;
    }
    .attend__item{
        background-color: darkolivegreen;
        border-radius: 10px;
        padding: 3rem 5rem;

    }
    .attend__item--descr{
        color: white;
        font-size: 18px;
    }
    .small__subtitle{
        font-size: 25px;
        color: white;
        margin-bottom: 1rem;
        font-weight: 600;
    }
   


   .content__wrapper--three{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5rem;
   }
   .featured__title{
    font-size: 20px;
   }
   .featured__item{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
</style>

