---
import { Image } from "astro:assets";
import fetchApi from "../lib/strapi";


const locations = await fetchApi({
  endpoint: "locations",
  wrappedByKey: "data",
  query: { populate: "*"  },
});
---

<section class="content__wrapper--three">
        <h2 class="subtitle subtitle__three">Featured Locations</h2>
        <div class="content__wrapper--threein">
            <div class="featured__item">
                <p class="featured__title featured__title--one">{locations[0].attributes.Name}</p>
            <Image
          src={`${import.meta.env.STRAPI_URL}${
            locations[0].attributes.image?.data.attributes.url
          }`}
          alt="Location image"
          width="400"
          height="250"
          widths={[250, 350, 500, 750]}
          class="featured__item--img1"
          sizes="(max-width: 35em) 70vw, (max-width: 50em) 60vw, 30vw"
              />
              <a class="featured__item--button" href={`${import.meta.env.BASE_URL}/locations/${locations[0].id}`}>View details</a>
            </div>
            <div class="featured__item">
                <p class="featured__title featured__title--two">{locations[1].attributes.Name}</p>
                <Image
            src={`${import.meta.env.STRAPI_URL}${
                locations[1].attributes.image?.data.attributes.url
            }`}
          alt="Location image"
          width="400"
          height="250"
          widths={[250, 350, 500, 750]}
          class="featured__item--img2"
          sizes="(max-width: 35em) 70vw, (max-width: 50em) 60vw, 30vw"
              />
              <a class="featured__item--button" href={`${import.meta.env.BASE_URL}/locations/${locations[1].id}`}>View details</a>
            </div>
            <div class="featured__item">
                <p class="featured__title featured__title--three">{locations[2].attributes.Name}</p>
                <Image
            src={`${import.meta.env.STRAPI_URL}${
                locations[2].attributes.image?.data.attributes.url
            }`}
          alt="Location image"
          width="400"
          height="250"
          widths={[250, 350, 500, 750]}
          class="featured__item--img3"
          sizes="(max-width: 35em) 70vw, (max-width: 50em) 60vw, 30vw"
              />
              <a class="featured__item--button" href={`${import.meta.env.BASE_URL}/locations/${locations[1].id}`}>View details</a>
            </div>
        </div>
    </section>

    <style>

   .content__wrapper--three{
        margin-bottom: 10rem;
    }
   .content__wrapper--threein{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 5rem;
   }
   .featured__title{
        font-size: var(--s3);
        font-weight: 600;
        margin-bottom: 1rem;
   }
   .featured__item{
        display: flex;
        flex-direction: column;
        align-items: center;
   }
   .featured__item--button{
        color: white;
        text-decoration: none;
        padding: 1rem 1.5rem;
        background-color: darkolivegreen;
        border: solid 5px darkolivegreen;
        border-radius: 5px;
        font-size: var(--s2);
        margin-top: 2rem;
   }
   .subtitle__three{
    text-align: center;
    margin-bottom: 5rem;
   }
    </style>