---
import { Image } from "astro:assets";
const { location } = Astro.props;

---
<a class="back" href=`${import.meta.env.BASE_URL}/schedule/`>&lt; Back</a>
<p class="page__title">{location.attributes.Name}</p>
<div class="content__wrapper">
    <h2 class="subtitle subtitle__highlights">Highlights</h2>
  <div class="highlights__content--wrapper">
    <p class="highlights"> {location.attributes.Highlights}</p>
    <Image
          src={`${import.meta.env.STRAPI_URL}${
            location.attributes.image?.data.attributes.url
          }`}
          alt="Location image"
          width="300"
          height="400"
          widths={[250, 350, 500, 750]}
          sizes="(max-width: 35em) 70vw, (max-width: 50em) 60vw, 30vw"
        />
  </div>
</div>
<div class="last__content">
  <h2 class="subtitle">Travel info</h2>
  <p class="travelinfo">{location.attributes.Travelinfo}</p>
</div>
      
    
<style>
  .back{
    color: black;
    font-size: var(--s3);
    margin-left: 4rem;
  }
  .content__wrapper{
    background-color: darkolivegreen;
    border-radius: 10px;
    margin: 3rem 5rem;
    padding: 0rem 4rem;
  }
  .highlights__content--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .highlights{
    height: fit-content;
    font-size: var(--s1);
    color: white;
  }
  .subtitle__highlights{
    color: white;
    padding-top: 4rem;
    margin-bottom: -3rem;
  }
  .travelinfo{
    width: 30rem;
    font-size: var(--s1);
  }
  .last__content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    aspect-ratio: 3/4;
    object-fit: contain;
  }

</style>
